<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="alliance_linkedin_process_js_layout_block_after" type="Alliance\Linkedin\Plugin\Block\Checkout\LayoutProcessor"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin name="add_linkedin" type="Alliance\Linkedin\Plugin\Checkout\Model\ShippingInformationManagementPlugin" disabled="false"/>
    </type>
</config>
